#tabs {
  padding-bottom: 0;
  border-bottom: 1px solid var(--tabContainerBorderColor);
  border-radius: 0;

  transition: height 0.25s;

  .chrome-tab {
    bottom: 0;

    &.chrome-tab-was-just-added {
      top: inherit;
      animation: none;
    }
  }

  &.hidden {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
